*.bak
*.DS_Store
target/
*.pyc
*.dat
TAGS
*.egg-info
*.egg
build
.coverage
.tox
cover
venv
.venv
output.xml
*.sublime-workspace
*.sqlite
.*.swp
.DS_Store
.testrepository
versioninfo
var/*
ChangeLog
AUTHORS
